<style>
  body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 14px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
  }
  .form-section {
    margin-bottom: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  th, td {
    border: 1px solid #000;
    padding: 6px;
    text-align: left;
  }
  .statement {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
  }
  .notes {
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    margin-top: 5px;
    resize: none;
  }
  footer {
    text-align: left;
    margin-top: 15px;
    font-size: 12px;
  }
  .underline {
    text-decoration: underline;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>

<h2>Daily Sign-in Sheet</h2>

<p><b>Agency Site Name:</b> SB</p>
<p><b>Date:</b> <%= Date.current.strftime("%I/%d/%Y") %></p>

<div class="form-section">
  <table>

    <tr>
      <th># of households</th>
      <th>Name</th>
      <th>Address</th>
      <!-- <th>Has any information changed or new client?</th> -->
      <th>Household Size</th>

      <% HouseholdMember::MEMBER_TYPES.each do |_, member_type| %>
        <th><%= member_type %></th>
      <% end %>

    </tr>

    <% @visits.each_with_index do |visit, index| %>
      <% counts = visit.client.household_members.group_by { |m| m.member_type }.map { |k,v| [ k, v.count ] }.to_h %>

      <tr>
        <td><%= index + 1 %></td>
        <td><%= visit.client.name %></td>
        <td><%= visit.client.address %></td>
        <td><%= visit.client.household_members.count %></td>
        <% HouseholdMember::MEMBER_TYPES.each do |id, str| %>
          <td><%= counts[id.to_s] or 0 %></td>
        <% end %>
      </tr>

    <% end %>

    <td/>
    <td/>
    <td/>
    <td><b>TOTALS<b></td>

    <% HouseholdMember::MEMBER_TYPES.each do |idx, _| %>
      <td><%= @totals[HouseholdMember::MEMBER_TYPES.keys.find_index(idx)] or 0 %></td>
    <% end %>

  </table>
</div>

<p>Updated June 2025</p>
