:css
  @media print {
    .no-print {
      display: none !important;
    }
  }

%article
  %header
    %nav
      %ul
        %li
          %b Visit History
      %ul
        %li
          = link_to "Daily Sign-in Sheet", daily_signin_visits_path(date: params[:date])

  .no-print
    = form_with url: url_for, method: :get do |f|
      .grid
        = f.date_field :date, value: (params[:date] or Date.today.strftime("%Y-%m-%d"))
        = f.submit 'Select'

  %h5
    Date:
    = params[:date] or Date.today.strftime("%Y-%m-%d")
  %h5
    Total Visits:
    = @visits.count

  %table
    %thead
      %th Time
      %th Name
      %th Address
      %th Household Size

    %tbody

      - @visits.each do |visit|
        %tr
          %td= visit.created_at.strftime("%H:%M")
          %td= link_to visit.client.name, show_clients_path(uuid: visit.client.uuid)
          %td= visit.client.address
          %td= visit.client.household_members.length
