%article
  %header
    %b List Visits

  = form_with url: url_for, method: :get do |f|
    .grid
      = f.date_field :date, value: (params[:date] or Date.today.strftime("%Y-%m-%d"))
      = f.submit 'Select'

  %article
    %h5
      Total Visits:
      = @visits.count

    %table
      %thead
        %th Time
        %th Client

      %tbody

        - @visits.each do |visit|
          %tr
            %td= visit.created_at.strftime("%H:%M")
            %td= visit.client.name
