%article
  %header
    %b Log a New Visit

  %article#clientinfo{ style: 'display: none;' }
    %p
      First Name:
      %span#firstname

    %p
      Last Name:
      %span#lastname

  %article
    = simple_form_for @visit do |f|
      = f.input :client_id, label: false, input_html: { hidden: true }

      .grid#inputs
        -# TODO: Scan functionality
        - if Rails.env.development?
          %button Scan Client Code
        %select{ id: 'search', placeholder: 'Search by Name or Mobile Number..' }

      %br

      = f.submit

:javascript
  new TomSelect('#search',{
          valueField: 'uuid',
          labelField: 'first_name',
          searchField: [ 'first_name', 'last_name' ],

          load: function(query, callback) {

            var url = "#{find_clients_path}?q=" + encodeURIComponent(query);
              fetch(url)
                  .then(response => response.json())
                  .then(json => {
                      callback(json);
                  })

          },
          
          onItemAdd: function(uuid) {
            var url = "#{info_clients_path}?uuid=" + encodeURIComponent(uuid);
              fetch(url)
                  .then(response => response.json())
                  .then(json => {
                    document.getElementById('inputs').hidden = true;
                    document.getElementById('clientinfo').style.display = "block";

                    document.getElementById('visit_client_id').value = json.id;
                    document.getElementById('firstname').innerHTML = json.first_name;
                    document.getElementById('lastname').innerHTML = json.last_name;
                  })
          },

      });
