%h3 Client Information

.grid
  = f.input :first_name
  = f.input :last_name
= f.input :mobile_number
= f.input :address

%h3 Household Members
%table
  %thead
    %th First Name
    %th Last Name
    %th Member Type
    %th Actions

  %tbody{ 'data-nested-fields-target': 'fields' }
    - @client.household_members.each do |member|
      %tr
        = simple_fields_for 'client[household_members_attributes][]', member, index: member.id do |hm_f|
          = hm_f.hidden_field :id
          = hm_f.hidden_field :_destroy
          = render 'form_household_members', hm_f: hm_f

          %td
            %button{ data: { action: 'nested-fields#remove' } } Remove

  %template{ 'data-nested-fields-target': 'template' }
    %tr{ data: { new_record: "true" } }
      = simple_fields_for 'client[household_members_attributes][]', HouseholdMember.new, index: '__INDEX__' do |hm_f|
        = render 'form_household_members', hm_f: hm_f

        %td
          %button{ data: { action: 'nested-fields#remove' } } Remove

= button_tag "Add Member", type: :button, data: { action: "nested-fields#append" }

= f.input :notes, as: :text

%br
%br
= f.submit
