%article
  %header
    %nav
      %ul
        %li
          %b Client Information
      %ul
        %li
          = link_to "QR Code", qr_clients_path(id: @client.id), target: "_blank"
          |
          = link_to "Agreement", agreement_clients_path(uuid: @client.uuid), target: "_blank"
          |
          = link_to "TEFAP Attestation", tefap_attestation_clients_path(uuid: @client.uuid), target: "_blank"
          |
          = link_to "Intake", intake_form_clients_path(uuid: @client.uuid), target: "_blank"
          |
          = link_to "Edit", edit_client_path(id: @client.id)

  - if @client.member_counts.values.sum != @client.household_members.count
    %article{ style: 'background-color: #060e14;' }
      = tag.div("Warning: THE CALCULATED HOUSEHOLD MEMBER COUNT DOESN'T EQUAL TO THE SUM OF THE HOUSEHOLD MEMBER COUNTS ENTERED", style: "color: #ffaaaa; text-align: center;")

  %p
    First Name:
    = @client.first_name

  %p
    Last Name:
    = @client.last_name

  %p
    Mobile Number:
    = @client.mobile_number

  %p
    Address:
    = @client.address or '-'

  %p
    Last Visit:
    = @client.last_visit

  %h3 Household Members

  %table
    - HouseholdMember::MEMBER_TYPES.values.each do |t|
      %th= t

    %tr
      - HouseholdMember::MEMBER_TYPES.keys.each do |t|
        %td= @client.member_counts[t.to_s]
    %tr
      %td{ colspan: HouseholdMember::MEMBER_TYPES.keys.count, style: 'text-align: right;' }
        Total:
        = @client.member_counts.values.sum

        (incl. client)


  %table
    %thead
      %th First Name
      %th Last Name

    %tbody
      - @client.household_members.each do |member|
        %tr
          %td= member.first_name
          %td= member.last_name

  %p
    %b Notes:
    %br
    = @client.notes

  %br

  = button_to "Log Visit", visits_path(visit: { client_id: @client.id }), data: { 'turbo-confirm': 'Are you sure?' }

%details
  %summary View History

  = turbo_frame_tag "show_history", src: visit_history_clients_path(uuid: @client.uuid, format: :turbo_stream), action: :replace, loading: :lazy
