%article
  %header
    %nav
      %ul
        %li
          %b Client Information
      %ul
        %li
          = link_to "QR Code", qr_clients_path(id: @client.id), target: "_blank"
          |
          = link_to "TEFAP Attestation", tefap_attestation_clients_path(uuid: @client.uuid), target: "_blank"
          |
          = link_to "Intake", intake_form_clients_path(uuid: @client.uuid), target: "_blank"
          |
          = link_to "Edit", edit_client_path(id: @client.id)

  %p
    First Name:
    = @client.first_name

  %p
    Last Name:
    = @client.last_name

  %p
    Mobile Number:
    = @client.mobile_number

  %p
    Address:
    = @client.address or '-'

  %p
    Last Visit:
    = @client.last_visit

  %h3 Household Members
  
  %p
    Total:
    = @client.household_members.count + 1

    (incl. client)

  %table
    %thead
      %th First Name
      %th Last Name
      %th Member Type

    %tbody
      - @client.household_members.each do |member|
        %tr
          %td= member.first_name
          %td= member.last_name
          %td= HouseholdMember::MEMBER_TYPES[member.member_type.to_sym]

  %p
    %b Notes:
    %br
    = @client.notes

  %br

  = button_to "Log Visit", visits_path(visit: { client_id: @client.id }), data: { 'turbo-confirm': 'Are you sure?' }

%details
  %summary View History

  = turbo_frame_tag "show_history", src: visit_history_clients_path(uuid: @client.uuid, format: :turbo_stream), action: :replace, loading: :lazy
