= turbo_stream.replace 'show_history' do
  %article
    - @visits.each do |year, items|
      %b= year

      - items.each do |month, visits|
        %p
          = "#{month} (#{visits.count}):"
          - visits.each do |visit|
            = "#{visit.created_at.day.ordinalize} (#{visit.user.username})"
            &nbsp;
